name: CICD

on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize, reopened]

env:
  DOCKER_IMAGE_NAME: ${{ secrets.DOCKER_USERNAME }}/rowlaw_docker_image

jobs:
  deploy:
    permissions: write-all
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Vercel CLI
        run: npm install --global vercel@latest

      - name: Pull Vercel Environment Information
        run: vercel pull --yes --environment=preview --token=${{ secrets.VERCEL_TOKEN }}

      - name: Build Project Artifacts
        run: vercel build --token=${{ secrets.VERCEL_TOKEN }}

      - name: Deploy Project Artifacts to Vercel
        id: preview-deployment
        run: vercel deploy --prebuilt --token=${{ secrets.VERCEL_TOKEN }} > deployment-url.txt

      - name: Extract preview url
        id: extract-url
        run: echo "deploymentUrl=$(cat deployment-url.txt)" >> $GITHUB_ENV

      - name: Comment preview url
        if: ${{ github.event_name == 'pull_request' || github.event.issue || github.event.pull_request }}
        uses: thollander/actions-comment-pull-request@v2
        with:
          message: "[λ§ν¬](${{ env.deploymentUrl }})μ—μ„ μ΄λ² PR κ²°κ³Ό ν™”λ©΄μ„ ν™•μΈν•  μ μμµλ‹λ‹¤.π"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
